button {
  width: 170px;
  height: 40px;
  border-radius: 20px;
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}

.submit {
  background-color: var(--blue);
}

.submit:hover {
  background-color: var(--darkblue);
}

.cancel {
  background-color: var(--red);
}

.cancel:hover {
  background-color: var(--darkred);
}
