.list {
  max-width: 430px;
  min-width: 390px;
  height: 70%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-color: var(--black);

  gap: 1rem;

  /* implementação de rolagem */
  overflow-y: auto;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .list {
    max-width: 1024px;
    min-width: 700px;
    height: 70%;
  }
}
